@font-face {
    font-family: "Poppins";
    src: url(../police/Poppins-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins";
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: rgb(255, 255, 255);
    width: 95px;
    overflow: hidden;
    /*le dépassement du contenu en dehors d'un bloc*/
    transition: width 0.3s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
}

.logo span {
    top: 15px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.logo img {
    width: 59px;
    height: 45px;
    margin-right: 8px;
}

svg {
    width: 50px;
    height: 30px;
    margin-left: 6px;
    margin-right: 9px;
}

nav a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 17px;
    display: table;
    width: 400px;
    padding: 20px;
}

.nav-item {
    position: relative;
    margin-left: 10px;
}

a:hover {
    background: #eee;
}

nav:hover {
    width: 360px;
    transition: all 0.5s ease;
}

.deconnexion {
    position: absolute;
    bottom: 0;
}

/*------------Section-----------*/

#zero {
    display: flex;
    padding-left: 120px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#zero #left {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#zero span {
    font-size: large;
    font-family: 'Poppins';
    letter-spacing: 2px;
}

#zero h2 {
    font-size: 30px;
    font-family: 'Poppins';
    letter-spacing: 1.5px;
    padding: 9px;
}

#zero p {
    font-size: medium;
    font-family: 'Poppins';
    letter-spacing: 0.5px;
    border-radius: 10px;
    border-style: groove;
    padding: 5px;
}

#illustration_droite {
    max-width: 180px;
    padding: 6px;
}

#illustration_gauche {
    max-width: 100px;
}