@font-face {
    font-family: "Poppins";
    src: url(../police/Poppins-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /*la largeur et la hauteur des éléments sont calculées en prenant en compte le contenu, les bordures et les marges.*/
}

body {
    font-family: "Poppins";
    background-image: url(../img/connexion-mondiale.avif);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

/*navbar*/

.navbar {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar a {
    color: rgb(0, 0, 0);
}

.navbar .logo {
    font-size: 1.7em;
    letter-spacing: 1.25px;
    font-weight: bolder;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links li {
    margin: 0 30px;
    letter-spacing: 1.25px;
}


.navbar .nav-links .actif a {
    color: #6dd5ed;
    font-weight: 900;
}

/*paragraphe d'accueil*/

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#intro p {
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    max-width: 75%;
    text-align: justify;
}

/*Grille d'accueil*/

#zero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 325px);
    grid-auto-rows: auto;
    list-style: inside;
}

.bloc {
    padding: 1.5rem;
    height: 380px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 35px -6px rgba(0, 0, 0, .2);
    text-align: center;
    backdrop-filter: blur(7px);
}

.bloc h2 {
    padding: 10px;
    letter-spacing: 1.25px;
}

.bloc ul {
    padding: 15px;
}

.bloc-reduit {
    padding: 1.5rem;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 35px -6px rgba(0, 0, 0, .2);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}